{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link href="{{ asset('css/tasks-create.css') }}" rel="stylesheet">
{% endblock %}


{% block body %}
    <div class="row">
        {{ form_start(form, {'action' : path('task_create')}) }}
            {{ form_widget(form) }}

            <button type="submit" class="btn btn-success pull-right form-btn">Ajouter</button>
        {{ form_end(form) }}

        <a href="{{ path('task_list') }}" class="btn btn-primary form-btn">Retour à la liste des tâches</a>
    </div>
{% endblock %}
